@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Regular.woff2') format('woff2'),
        url('../font/Graphik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Light.woff2') format('woff2'),
        url('../font/Graphik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../font/Graphik-Medium.woff2 ') format('woff2'),
        url('../font/Graphik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
html,
body{
    height: 100%;
    font-family: Graphik, sans-serif;
}

body{
    display: flex;
}

.sidebar{
    width: 252px;
    background: #4C52BC;
    display: flex;
    flex-direction: column;
}

.sidebar .logo{
    padding-left: 42px;
    padding-top: 35px;
    padding-bottom: 65px;

}

.sidebar .logo a{
    display: block;
}

.sidebar .logo a img{
    width: 36px;
    height: 36px;
}
.sidebar .menu ul li a{
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 40px;
    font-size: 14px;
    color: rgba(255, 255, 255, .6); 
}

.sidebar .menu ul li a:hover{
    color: #fff;
}

.sidebar .menu ul li.active a{
    color: #fff;
    background: linear-gradient(to left, transparent, rgba(255,255,255,.08));
    /*
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
        text-shadow: 0 2px 4px rgba(0,0,0,.5);
    */
}

.sidebar .storage{
    padding: 0 40px 35px;
    margin-top: auto;
}

.sidebar .storage .title{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    align-items: center;
}

.sidebar .storage .title div i {
    margin-right: 5px;
}

.sidebar .storage .title .percent{
    font-size: 12px;
    color: rgba(255, 255, 255, .8);
    font-weight: normal;
}

.sidebar .storage .bar{
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background: #30358A;
    margin-top: 12px;
}

.sidebar .storage .bar span{
    width: auto;
    height: 6px;
    border-radius: 6px;
    background: #F8D9AF;
    display: block;
}

.content{
    flex: 1;
    display: flex;
}

.content .inner{
    flex: 1;
    padding: 32px 65px;
    overflow: auto;
}

.content .inner .search{
    position: relative;
    margin-bottom: 60px;
}

.content .inner .search label{
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8f94b8;
}

.content .inner .search input{
    width: 340px;
    height: 44px;
    border-radius: 44px;
    background: rgba(202, 206, 231, .14);
    font-size: 14px;
    padding: 0 20px 0 50px;
    box-sizing: border-box;   
}

.content .inner .search input::placeholder{
    color: #8f94b8;
}

.content .inner .inner-box{
    margin-bottom: 60px;
}

.content .content-title h4{
    font-size: 20px;
    color: #0e1b42;
    font-weight: 500;
}

.content .content-title a{
    font-size: 14px;
    color: #8186ad;
}

.content .content-title a i{
    font-size: 11px;
    margin-left: 8px;
}

.content .content-title{
    padding-bottom: 6px;
    display: flex;
    border-bottom: 1px solid #F6F7FA;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 35px;
}

.content .content-title::before{
    content: '';
    width: 38px;
    height: 4px;
    background: #c4e2e6;
    border-radius: 4px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

.content .inner .inner-box .projects{
    display: flex;
    margin: 0 -7px;
}

.content .inner .inner-box .box{
    flex: 1;
    margin: 0 7px;
    height: 145px;
    box-sizing: border-box;
    border-radius: 12px;
}

.content .inner .inner-box .box.active{
    background: #f7f8fb;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.content .inner .inner-box .box.active .box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .inner .inner-box .box.active .box-top i{
    color: #fbd199;
    font-size: 26px;
}

.content .inner .inner-box .box.active .box-top .box-shared{
    display: flex;
}

.content .inner .inner-box .box.active .box-top .box-shared img{
    width: 20px;
    height: 20px;
    margin-left: -10px;
    border: 2px solid #f7f8fb;
    border-radius: 20px;
    position: relative;
}

.content .inner .inner-box .box.active .box-title{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.content .inner .inner-box .box.active .box-title .name{
    font-size: 14px;
    font-weight: 500;
    color: #0e1b42;
    padding-bottom: 4px;
}

.content .inner .inner-box .box.active .box-title .task{
    font-size: 12px;
    color: #8186ad;
    margin-bottom: 12px;
}

.content .inner .inner-box .box.active .box-bar{
    width: 100%;
    height: 5px;
    background: #dde2ef;
    border-radius: 5px;
    display: block;
}

.content .inner .inner-box .box.active .box-bar span{
    width: auto;
    height: 5px;
    background: #4c52bc;
    border-radius: 5px;
    display: block;
    position: relative;
}

.content .inner .inner-box .box.active .box-bar span::before{
    content: attr(title);
    position: absolute;
    top: -15px;
    font-size: 10px;
    color: #4c52bc;
    right: -6px;
}

.content .inner .inner-box .box.empty{
    border: 2px dashed #E4E8F6;
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content .inner .inner-box .box.empty i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: f7f8fb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    color: #4c52bc;
}

.content .inner .inner-box .box.empty .text{
    font-size: 12px;
    color: #132046;
}

.content .inner .inner-box .recents ul li{
    height: 64px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.content .inner .inner-box .recents ul li a{
    flex: 1;
    font-size: 14px;
    color: #0e1b42;
    display: flex;
    align-items: center;
}

.content .inner .inner-box .recents ul li a i.fa-folder{
    font-size: 30px;
    color: #fbd199;
    margin-right: 10px;
}

.content .inner .inner-box .recents ul li a i.icon{
    width: 30px;
    height: 30px;
    background: #4C52BC;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
}

.content .inner .inner-box .recents ul li a img{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin-right: 10px;
    
}

.content .inner .inner-box .recents ul li .visibility,
.content .inner .inner-box .recents ul li .size{
    font-size: 12px;
    color: #8186ad;
    width: 100px;
    text-align: center;
}

.content .inner .inner-box .recents ul li .more{
    font-size: 12px;
    color: #8186ad;
    width: 100px;
    text-align: right;
    opacity: 0;
    font-size: 18px;
    color: #b1b4ce;
}

.content .inner .inner-box .recents ul li:hover{
    background: #f4f5fa;
}

.content .inner .inner-box .recents ul li:hover .more{
    opacity: 1;
}

.content .rightbar{
    width: 360px;
    padding: 32px 0;
    border-left: 2px solid #F6F7FA;
}